<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <!-- Cấu hình servlet HomePage -->
    <servlet>
        <servlet-name>HomePage</servlet-name>
        <servlet-class>Controller.HomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutController</servlet-name>
        <servlet-class>Controller.LogOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>Controller.RegisterController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomePage</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <!-- Cấu hình servlet ChangePassWord -->
    <servlet>
        <servlet-name>ChangePassWord</servlet-name>
        <servlet-class>Controller.ChangePassWord</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangePassWord</servlet-name>
        <url-pattern>/change-password</url-pattern>
    </servlet-mapping>
    <!-- Cấu hình servlet CartDetails -->
    <servlet>
        <servlet-name>CartDetails</servlet-name>
        <servlet-class>Controller.CartDetails</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CartDetails</servlet-name>
        <url-pattern>/cart-details</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Product</servlet-name>
        <servlet-class>Controller.Product</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Product</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutController</servlet-name>
        <url-pattern>/LogOutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
</web-app>
