/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : May 23, 2024, 9:04:05 AM
    Author     : TDG
*/
    .container-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px 20px;
               
            }
            .logo-column a {
                font-size: 24px;
                font-weight: bold;
                text-decoration: none;
                color: #000;
            }
            .menu ul, .user-info ul {
                display: flex;
                list-style-type: none;
                margin: 0;
                padding: 0;
            }
            .menu ul li, .user-info ul li {
                margin-right: 50px;
                padding-top: 10px
            }
            .menu ul li a, .user-info ul li a {
                text-decoration: none;
                color: #000;
                font-size: 18px;
            }
            .user-info ul li a {
                font-weight: bold;
            }
            
.search_container {
    width: 300px;
    height: 30px;
    display: flex;
    padding: 10px 20px;
    background: #f0f0f0;
    border-radius: 30px;
    align-items: center;
}

.search_container input {
    height: 50px;
    outline: none;
    border: none;
    font-weight: 500;
    background: transparent;
}
   
.slider_section,.body-page,.blog-home{
    background-color: #f0f0f0;
}

/* Định dạng carousel */
.slider_section{
    padding: 10px;
}
/* Định dạng mỗi carousel item */
.carousel-inner{
    display: flex;
}
.left-column{
    width: 70%; /* Set width of left and right columns */
    float: left; /* Float columns for side-by-side display */
    padding: 10px;
}
.right-column {
    width: 35%; /* Set width of left and right columns  */
    float: left; /* Float columns for side-by-side display */ 
    padding: 10px;
}
/* Clear float to prevent other elements from floating around */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
/* Định dạng cho kích thước ảnh trong left-column và right-column */
.left-column img,
.right-column img {
    width: 100%; /* Set image width to 100% of parent container */
    height: auto; /* Auto adjust height to maintain aspect ratio */
}

/* Định dạng cho các dấu chấm chỉ mục */
.carousel-indicators {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-top: 10px; /* Thêm khoảng cách giữa carousel và các dấu chấm chỉ mục */
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 5px;
    cursor: pointer;
}

.carousel-indicators li.active {
    background-color: #000;
}

.read_more{
    color: black;
    position: absolute;
    background-color: #e2e2e5;
    top: 860px;
    left: 200px  ;
    padding: 10px;
    border-radius: 5px;
}
.read_more p {
    font-size: 20px;
    color: #000; /* Màu chữ đen */
    margin-bottom: 10px; /* Khoảng cách giữa các đoạn văn */
}

.read_more a {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #f89646;
    background-color: #f89646;
    text-decoration: none;
    font-size: 25px;
    color: #000; /* Màu chữ đen */
    transition: background-color 0.3s, color 0.3s; /* Hiệu ứng chuyển đổi màu nền và màu chữ */
    border-radius: 5px;
    font-weight: bold;
}

.read_more a:hover {
    border: 1px solid #000;
    background-color: #000; /* Màu nền khi rê chuột qua */
    color: #fff; /* Màu chữ trắng khi rê chuột qua */
}



.custom-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* Đảm bảo bảng có kích thước cố định */
}

.custom-table th,
.custom-table td {
    padding: 10px;
    text-align: center;
}

.custom-table th {
    font-weight: bold;
    border: 1px black solid;
}

.custom-table th a,
.custom-table td a {
    color: #000;
    text-decoration: none;
}

.custom-table th a:hover,
.custom-table td a:hover {
    color: #f89646; /* Màu khi rê chuột qua */
}

.trend-heading {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.custom-table tr:first-child {
    background-color: #fcddef; /* Đặt màu nền cho hàng đầu tiên */
}

.custom-table th {
    width: calc(100% / 3); /* Chia đều độ rộng của các cột */
}

/*css product*/
.product-table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    border: 1px solid #000;
}

.product-table th,
.product-table td {
    padding: 10px;
}

.product-table th {
    font-weight: bold;
}

.product-table td {
    vertical-align: top; /* Align content to the top of cells */
}

.product-box {
    margin-bottom: 10px;
}
.product-box:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow effect on hover */
    transform: translateY(-5px); /* Move the box slightly upwards on hover */
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Add transition effect */
}

.product-img img {
    width: 100%; /* Make product images responsive */
    padding-top: 15px;
}

.product-detail {
    padding: 10px;
    padding-left: 55px;
}

.product-price {
    font-weight: bold;
    margin-top: 10px;
    padding-bottom: 10px;
}

.detail-product {
    padding: 10px 0;
}

.detail-product a {
    font-size: 25px;
    background-color: #f89646; /* Button background color */
    color: #fff; /* Button text color */
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 25px;
}

.detail-product a:hover {
    background-color: #000; /* Button background color on hover */
}

/*nút more*/
.more-product {
    text-align: center; /* Center the content horizontally */
    padding: 15px; /* Add space between the product table and the "MORE" link */
}

.more-product a {
    display: inline-block; /* Make the link a block element */
    padding: 10px 20px; /* Add padding around the link */
    background-color: #f89646; /* Set background color for the link */
    color: #fff; /* Set text color for the link */
    text-decoration: none; /* Remove underline from the link */
    border-radius: 5px; /* Add rounded corners to the link */
}

.more-product a:hover {
    background-color: #000; /* Change background color on hover */
}




/*css post home*/
.blog-home table {
    border-collapse: collapse; /* Hợp nhất đường viền của các ô */
    width: 100%; /* Chiều rộng của bảng */
}

/* Định dạng cho các ô trong bảng */
.blog-home td {
    border: 1px solid black; /* Định dạng đường viền của các ô */
    padding: 10px; /* Khoảng cách giữa nội dung và đường viền */
    background-color: white; 
}

/* Định dạng cho hàng đầu tiên của bảng */
.blog-home th {
    border: 1px solid #ccc; /* Định dạng đường viền của các ô */
    padding: 10px; /* Khoảng cách giữa nội dung và đường viền */
    background-color: #f4e258; /* Màu nền của hàng đầu tiên */
    text-align: center; /* Căn giữa nội dung của ô */
    border: 1px solid black;
}
/* Thiết lập cho mỗi bài viết */
.each-post-home {
    text-align: center; /* Căn giữa nội dung */
    transition: opacity 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; /* Hiệu ứng chuyển đổi opacity, transform và box-shadow trong 0.3s với kiểu dễ dàng */
    
}

.each-post-home img {
    max-width: 100%; /* Ảnh sẽ không vượt quá chiều rộng của phần tử cha */
    height: auto; /* Chiều cao tự động tính theo tỷ lệ */
}

.each-post-home:hover {
    opacity: 1.7; /* Điều chỉnh độ mờ khi rê chuột vào */
    transform: translateY(-10px); /* Di chuyển phần tử lên trên một chút khi rê chuột vào */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Thêm hiệu ứng bóng đổ khi rê chuột vào */
}

.each-post-home h4 {
    margin-top: 10px; /* Khoảng cách giữa tiêu đề và hình ảnh */
}

.each-post-home a {
    display: block; /* Biến đổi thành khối phần tử */
    background-color: #f89646; /* Màu nền của nút */
    color: #fff; /* Màu văn bản */
    padding: 8px 15px; /* Kích thước nút */
    text-decoration: none; /* Loại bỏ gạch chân */
    border-radius: 5px; /* Bo tròn các góc */
    margin-top: 10px; /* Khoảng cách giữa nút và tiêu đề */
    transition: background-color 0.3s ease; /* Hiệu ứng chuyển đổi màu nền nút trong 0.3s với kiểu dễ dàng */
    font-size: 20px;
}

.each-post-home a:hover {
    background-color: black; /* Màu nền của nút khi di chuột qua */
}





    
            .wrapper {
                display: flex;
                flex-direction: column;
                min-height: 100vh;
            }
            .content {
                flex: 2;
            }
            .footer {
                background-color: #0db3fd91; /* Màu nền */
                padding: 20px; /* Khoảng cách xung quanh nội dung */
                text-align: center; /* Căn giữa nội dung */
            }
            .footer p {
                font-size: 20px;
                margin: 5px 0; /* Khoảng cách giữa các đoạn văn */
            }
            
            