/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : May 23, 2024, 9:20:05 PM
    Author     : TDG
*/

            
.user-setting {
    display: flex;
}

.menu-setting-user {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    transition: border-color 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #8efd0d2b;
}
.menu-setting-user ol li{
    font-size: 25px;
}
.menu-setting-user:hover {
    border-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.content-user-setting {
    flex: 3;
    padding: 20px; /* Increased padding */
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-change-password {
    border: 1px solid black;
    padding: 20px;
}

.table-change-password td {
    padding: 10px;
    font-size: 20px;
}
.table-change-password input[type="password"] {
    width: 200px; /* Set the desired width */
    height: 30px; /* Set the desired height */
    padding: 5px;
    font-size: 16px;
}

.menu-setting-user ol {
    list-style-type: none;
    padding: 0;
}

.menu-setting-user ol li {
    margin: 10px 0;
    padding: 10px;
    transition: background-color 0.3s, color 0.3s;
}
.menu-setting-user ol li a{
    text-decoration: none;
    color: black;
}
.menu-setting-user ol li a:hover {
    background-color: white; /* Background color on hover */
    color: red; /* Text color on hover */
}            
        .circle-user {
            width: 200px;
            height: 200px;
            background-color: #0000ffa6;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-size: 24px;
            text-align: center;
        }
        .save-button {
            display: none;
            width: 72px;
            font-size: 28px;
            height: 38px;
        }
        
        
        