*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/*header*/

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f8f8;
}
.logo-column a {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}
.menu ul, .user-info ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu ul li, .user-info ul li {
    margin-right: 100px;
}
.menu ul li a, .user-info ul li a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
}
.user-info ul li a {
    font-weight: bold;
}

/*body*/

.breadcumb {
    list-style: none;
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #f0f0f0;
}

.home {
    margin: 0;
    padding: 10px 20px;
}

.home a {
    text-decoration: none;
    color: #000;
}

.main {
    display: block;
    background-color: #f0f0f0;
}

.container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

.sidebar {
    width: 20%;
    background-color: #fff;
    padding: 0px 10px 0px 10px;
    position: relative;
}

.narrow-by-list {
    margin: 0;
}

.narrow-by-list dt {
    text-transform: uppercase;
    cursor: pointer;
    line-height: 100%;
    font-weight: 600;
    padding: 10px 0;
}

.narrow-by-list dd {
    margin: 0;
    padding: 0;
}

dt, dd{
    line-height: 1.5;
}

ul, ol {
    margin: 0;
    padding: 0;
}

.odd{
    padding-top: 10px;
}

.odd ol {
    margin: 0;
    padding: 0;
}

.odd ol li {
    list-style: none;
    text-decoration: none;
}

.odd ol li a {
    color: #666;
    padding: 0;
    display: inline;
    text-decoration: none
}

#current-category a {
    margin-left: 10px;
    padding: 0;
    display: inline;
    text-decoration: none
}

.normal-category {
    color: #666;

}

.active-category {
    color: #f89646;
}

.content {
    width: 70%;
    background-color: #fff;
    padding: 10px;
}

.toolbar-top{
    margin-left: 10px;
    margin-right: 10px;
}

.toolbar {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0px;
    border-bottom: 1px solid #ecebeb;
}

.sorter {
    padding-left: 20px;
}

.abc-xyz {
    display: flex;
    flex-direction: row;
}

.dropdown-text{
    margin-right: 10px;
}

.dropdown-text p{
    margin-top: 10px;
    font-size: 14px;
    color: black;
}

.sort-by{
    padding: 0;
    display: block;
}

.selectedBox {
    display: flex;
    justify-content: center;
    position: relative;
    cursor: default;
    text-align: left;
    line-height: 30px;
    clear: both;
    color: #888;
    min-width: 160px;
    height: 40px;
}

.selected-order{
    border: 1px solid #CDCFD0;
    border-radius: 5px;
    font-size: 14px;
    padding: 0 10px 0 10px;
}

.product-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
}

.product-item {
    position: relative !important;
    padding: 10px;
}

.product-item:hover {
    box-shadow: 1px 1px 5px #888;
}

.product-text{
    text-decoration: none;
    color: black;
}

.product-content .product-clearfix{
    margin: 0 0 8px;
    display: block;
}

.product-image{
    width: 190px;
}

.product-title {
    font-weight: normal;
    font-size: 15px;
    line-height: 17px;
}

.product-price{
    margin-top: 4px;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    color: #C92127;
    font-weight: 600;
}

.index-page {
    display: flex;
    justify-content: center;
    padding: 13px 15px;
}

.index-page li {
    margin: 0 2px;
}

.index-page a {
    color: black;
    width: 40px;
    height: 40px;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.index-page a:hover {
    background-color: antiquewhite;
}

.active-page {
    border: none;
    border-radius: 5px;
    color: #fff !important;
    background-color: #C92127;
}

.icon-turn-left {
    background-image: url(https://cdn0.fahasa.com/skin/frontend/ma_vanese/ma_vanesa2/images/left_orange.png);
    background-repeat: no-repeat;
    background-position: center;
}

.icon-turn-right {
    background-image: url(https://cdn0.fahasa.com/skin/frontend/ma_vanese/ma_vanesa2/images/right_orange.png);
    background-repeat: no-repeat;
    background-position: center;
}

/*footer*/
.footer {
    background-color: #0db3fd91; /* Màu nền */
    padding: 20px; /* Khoảng cách xung quanh nội dung */
    text-align: center; /* Căn giữa nội dung */
}
.footer p {
    font-size: 20px;
    margin: 5px 0; /* Khoảng cách giữa các đoạn văn */
}